.chatWindow{
  background-image: url('bg.jpg');
  background-size: cover;
}
.chatWindow::-webkit-scrollbar{
  display: none;
}

.main{
  overflow-y: scroll;
}
.main::-webkit-scrollbar{
  display: none;
}